<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
    {% include head-custom.html %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          Attogram Project &nbsp;
          <a href="https://github.com/attogram">Github</a> &nbsp;
          <a href="https://discord.gg/BGQJCbYVBa">Discord</a> &nbsp;
          <a href="/">Portfolio</a>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>
          <a href="https://github.com/attogram">Github</a>
          &nbsp;
          <a href="https://discord.gg/BGQJCbYVBa">Discord</a>
          &nbsp;
          <a href="/">Portfolio</a>
        </p>
      </footer>
    </div>
  </body>
</html>
